<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iti.sidemenumodule" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".controller.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".helperclasses.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".controller.ActicityWithSideMenu"
            android:label="@string/app_name" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".controller.SimpleTabsActivity" -->
        <!-- android:label="@string/app_name" > -->
        <!-- </activity> -->
        <activity
            android:name=".view.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".controller.PostProjectMainActivity"
            android:label="@string/title_activity_post_project_main"
            android:parentActivityName=".controller.ActicityWithSideMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iti.sidemenumodule.controller.ActicityWithSideMenu" />
        </activity>
        <activity
            android:name=".controller.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".controller.ActicityWithSideMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iti.sidemenumodule.controller.ActicityWithSideMenu" />
        </activity>
        <activity
            android:name=".controller.ProtoflioActivity"
            android:label="@string/title_activity_protoflio"
            android:parentActivityName=".controller.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iti.sidemenumodule.controller.ProfileActivity" />
        </activity>
        <activity
            android:name=".helperclasses.CustomPhotoGalleryActivity"
            android:label="@string/title_activity_custom_photo_gallery" >
        </activity>
        <activity
            android:name=".view.UploadImageActivity"
            android:label="@string/title_activity_upload_image" >
        </activity>
    </application>

</manifest>
